[Desktop Entry]
Version=1.0
Type=Application
Name=DbMaster
GenericName=Database tools
GenericName[en_GB]=Database tools
GenericName[fr]=Outils de base de données
Comment=Contains a query and a table editor
Comment[en_GB]=Contains a query and a table editor
Comment[fr]=Contiens un éditeur de table et de requêtes
Exec=dbmaster
Terminal=false
Categories=Development;Database;Qt;
Icon=/usr/local/share/dbmaster/dbmaster.png
