body {
  background-image:   url(back.png);
  background-repeat:  repeat-x;
}

#header {
  background-image:   url(dbmaster.png);
  background-repeat:  no-repeat;
  color:              white;
  font-family:        arial;
  font-size:          14px;
  height:             170px;
  margin-left:        20px;
  padding-left:       140px;
}

#header h1 {
  font-size:          24px;
  font-weight:        normal;
}

#header h2 {
  font-size:          16px;
  font-weight:        normal;
}

#header a {
  color:              white;
  font-weight:        normal;
  text-decoration:    none;
}
